<!-- complete.html -->
{% extends 'memberbase.html' %}
{% block content %}
/* Add this to your main.css or create a new CSS file */
<style>
.finish-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  margin-top: 50px;
}
</style>
<br><br><br><br><br><br><br><br><br><br>


  <div class="finish-container">
    <h3>You have successfully entered your family details!</h3>
  </div>

  <br><br><br><br><br><br><br><br><br><br>
{% endblock %}
